name: .NET Conformance CI
on:
  push:
    branches:
    - main
  pull_request:
permissions:
  contents: read

jobs:
  run-conformance:
    strategy:
      matrix:
        dotnet: [ "8.0.x" ]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    # Avoid unnecessary output
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          aka.ms:443
          api.nuget.org:443
          builds.dotnet.microsoft.com:443
          github.com:443
          proxy.golang.org:443
          storage.googleapis.com:443
          crl3.digicert.com:443
          ts-crl.ws.symantec.com:443

    - name: Checkout repo
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        submodules: true

    - name: Setup .NET
      uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0
      with:
        dotnet-version: ${{ matrix.dotnet }}

    - name: Setup Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: '^1.16'
        
    - name: Clear NuGet cache
      run: dotnet nuget locals all --clear

    - name: Run conformance tests
      shell: bash
      run: ./run-conformance-tests.sh

    - name: Upload logs on failure
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      if: failure()
      with:
        name: conformance-logs-${{ matrix.os }}-${{ matrix.dotnet }}
        path: tmp/conformance-test-output
