name: .NET Conformance CI
on:
  push:
    branches:
    - main
  pull_request:
permissions:
  contents: read

jobs:
  run-conformance:
    strategy:
      matrix:
        dotnet: [ "8.0.x" ]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    # Avoid unnecessary output
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          aka.ms:443
          api.nuget.org:443
          builds.dotnet.microsoft.com:443
          github.com:443
          proxy.golang.org:443
          storage.googleapis.com:443
          crl3.digicert.com:443
          ts-crl.ws.symantec.com:443

    - name: Checkout repo
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        submodules: true

    - name: Setup .NET
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
      with:
        dotnet-version: ${{ matrix.dotnet }}

    - name: Setup Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: '^1.16'
        
    - name: Clear NuGet cache
      run: dotnet nuget locals all --clear

    - name: Run conformance tests
      shell: bash
      run: ./run-conformance-tests.sh

    - name: Upload logs on failure
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      if: failure()
      with:
        name: conformance-logs-${{ matrix.os }}-${{ matrix.dotnet }}
        path: tmp/conformance-test-output
