name: .NET Lint CI
on:
  push:
    branches:
    - main
  pull_request:
permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          aka.ms:443
          api.nuget.org:443
          dc.services.visualstudio.com:443
          builds.dotnet.microsoft.com:443
          github.com:443
          crl3.digicert.com:443
          ts-crl.ws.symantec.com:443

    - name: Checkout repo
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        submodules: true
    - name: Setup .NET
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
      with:
        dotnet-version: '8.0.x'
    - run: dotnet tool install -g dotnet-format
    - run: dotnet-format src